/*General*/
body, input, button, textarea {
  font-family: 'Asul', sans-serif;
}
body {
  text-align: center;
  margin: 0;
  color: #232526;
  background: #EEE6AB;
  position: relative;
}
body.contact,
body.error {
  background: #36393B;
  color: #EEE6AB;
}
a {
  display: block;
  color: #36393B;
  text-decoration: none;
  transition: color 0.7s ease-out;
}
a:hover {
  color: #ba2d38;
  transition: color 0.6s ease-out;
}
img {
  max-width: 100%;
}



/*Typography*/
h1, h2, h3, h4, h5 {
  font-weight: normal;
}
h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 6em;
  margin-top: 0.5em;
  padding: 0.3em;
}
@media (min-width: 400px) {
  h1 {
    margin-top: 0;
  }
}
h2 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 6em;
  padding: 0.05em 0 0;
  margin-bottom: 0;
}
h3 {
  letter-spacing: 0.001em;
  line-height: 1.5em;
}
h4, h5 {
  letter-spacing: 0.05em;
}
p {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}



/*Header*/
header {
  background: #36393B;
  color: #EEE6AB;
  padding: 1em 0;
}
@media (min-width: 400px) {
  header {
    padding: 5em 0;
  }
}

/*Preheader only used in index.html*/
div.preheader {
  padding-top: 1em;
}
div.preheader img {
  width: 125px;
  height: 125px;
  margin-bottom: -55px;
  border-radius: 100px;
  -webkit-box-shadow: 0px 3px 0px 15px #EEE6AB;
  -moz-box-shadow: 0px 3px 0px 15px #EEE6AB;
  box-shadow: 0px 3px 0px 15px #EEE6AB;
  display: inline-block;
}

/*Header for page.html*/
header.page {
  padding-top: 0;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(69,72,75,1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(69,72,75,1);
  box-shadow: 0px 2px 2px 0px rgba(69,72,75,1);
}
@media (min-width: 400px) {
  header.page {
    padding-bottom: 3em;
    margin-bottom: 3em; 
  }
}
header.page img {
  max-width: 11em;
  margin: 3em 0 1.5em;
  display: inline-block;
}

/*Header for contact.html*/
header.contact {
  padding: 0 0 0.5em;
}
header.contact h2 {
  margin-top: 0.2em;
}
@media (min-width: 400px) {
  header.contact {
    padding: 0 0 1.5em;
  }
  header.contact h2 {
    margin-top: 0.4em;
  }
}

/*Header for error.html*/
header.error {
  padding-top: 0;
}
header.error img {
  margin: 3em 0 1.2em;
}



/*Sections for page.html*/
section.posts p {
    font-size: 1.5em;
}
@media (min-width: 400px) {
  section.posts p {
    text-align: left;
  }
}
section.posts h3 {
  margin-top: 0.5em;
}
section.posts img {
  margin-bottom: 1em;
}
section.posts a {
  display: inline;
  color: #9c000c;
}
section.posts a:hover {
  color: #2e00ab;
  transition: color 0.6s ease-out; 
}

/*Sections for contact.html*/
section.contact span {
  font-size: 1.2em;
}
section.contact span.error {
  color: #fa3c4b;
}
section.contact span.submission {
  color: #b5cd56;
}
section.contact div.submit {
  margin-top: 0.5em;
}



/*Form Elements*/
form {
  padding-top: 0.8em;
}
label {
  letter-spacing: 0.05em;
}
input[type="text"],
textarea {
  background-color: #fffdf0;
}
input[type="submit"] {
  color: #c4be8d;
  border: 1px solid #c4be8d;
  transition: color 0.3s ease-out, border 0.3s ease-out;
}
input[type="submit"]:hover {
  color: #f7efb2;
  border: 1px solid #737053;
  transition: color 0.3s ease-out, border 0.3s ease-out;
}



/*Navigation*/
nav {
  font-size: 1em;
}
nav ul {
  display: flex; 
  flex-wrap: wrap;
  align-content: center;
}
nav li {
  flex-grow: 1;
  margin-bottom: 0;
  line-height: 2em;
}

/*Navigation for index.html*/
nav.about {
  font-size: 2em;
  padding-top: 0.5em;
}
nav.about li {
  line-height: 2em;
}
/*Force the navigation items to stack. Removed for larger devices below.*/
nav.about li:nth-child(2n) {
    flex-basis: 100%;
}
nav.about a:hover {
  color: #9c000c;
}
@media (min-width: 400px) {
  nav.about {
    padding-top: 2em;
  }
  nav.about li {
    line-height: 1em;
  }
  nav.about li:nth-child(2n) {
    flex-basis: auto;
  }
  nav.about li:nth-of-type(n+2) {
    border-left: 1px solid #696758;
  }
}

/*Navigation for page.html*/
nav.page {
  font-size: 1.3em;
  line-height: 1.5em;
  border-bottom: 1px solid #696758;
}
nav ul.page {
  margin: 0;
}
/*Spacer between flexbox items*/
nav.page li {
  border-left: 1.1em solid transparent;
  border-right: 1.1em solid transparent;
}
nav.page a {
  color: #EEE6AB;
}
nav.page a:hover {
  color: #fa3c4b;
}
@media (min-width: 400px) {
  nav.page li {
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
  }
}



/*Footer*/
footer {
  font-size: 1.2em;
  color: #45484B;
  margin: 1em 0 2em;
}
div.footer {
  display:flex; 
  flex-wrap: nowrap; 
  align-content: center;
}
footer a {
  flex-grow: 1;
}
footer a:hover {
    color: #000;
}

/*Footer for contact.html*/
footer.contact a {
  color: #c4be8d;
}
footer.contact a:hover {
  color: #eee6ab;
}
@media (min-width: 400px) {
  footer.contact {
    padding-top: 0.3em;
  }
}