/* Color palette
Backgrounds: #fff, #54B2AE
Accents: #ABFFFB
Text:
Link: */


/*General*/
body, input, button, textarea {
  /*Global font*/
}
body {
  margin: 0;
  /*color:*/
  background: #eee;
  position: relative;
}
a {
  display: block;
  /*color:*/
  text-decoration: none;
}
img {
  max-width: 100%;
}


/*Typography*/
h1, h2, h3, h4 {
  font-weight: normal;
}
h1 {

}
h2 {

}
h3 {

}
p {
  /*font-size:*/
}



/*Header*/
header {
  background: #54B2AE;
  padding: 5em 0;
  text-align: center;
}
div.preheader {
  padding-top: 1em;
  text-align: center;
}
.profile-picture {
  width: 125px;
  height: 125px;
  margin-bottom: -55px;
  border-radius: 100px;
  -webkit-box-shadow: 0px 3px 0px 15px #eee;
  -moz-box-shadow: 0px 3px 0px 15px #eee;
  box-shadow: 0px 3px 0px 15px #eee;
  display: inline-block;
}

/*Form Elements*/


/*Navbar*/
nav {
  /*font-family:*/
}
nav li {
  margin-bottom: 0;
  line-height: 2em;
}

nav.about {
  text-align: center;
  font-size: 2em;
  padding-top: 1.5em;
}
nav.about li {
  line-height: 1em;
}
nav.about li:nth-child(n+2) {
  border-left: 1px solid #696758;
}


/*Other specific elements*/


/*Footer*/