/* Color palette
Backgrounds: #fff, #54B2AE
Accents: #ABFFFB
Text:
Link: #C75418, #936FB2, #5487B2*/


/*General*/
body, input, button, textarea {
  /*Global font*/
}
body {
  margin: 0;
  /*color: #eee;*/
  background: #eee;
  position: relative;
}
a {
  display: block;
  color: #111;
  text-decoration: none;
  transition: color 0.9s ease-out;
}
img {
  max-width: 100%;
}


/*Typography*/
h1, h2, h3, h4 {
  font-weight: normal;
}
h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 6em;
  padding: 0.3em;
}
h2 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 6em;
  margin: 5px 0;
}
h3 {
  line-height: 1.5em;
}
p {
  /*font-size:*/
}



/*Header*/
header {
  background: #54B2AE;
  /*color: #ddd;*/
  padding: 5em 0;
  text-align: center;
}
div.preheader {
  padding-top: 1em;
  text-align: center;
}
.profile-picture {
  width: 125px;
  height: 125px;
  margin-bottom: -55px;
  border-radius: 100px;
  -webkit-box-shadow: 0px 3px 0px 15px #eee;
  -moz-box-shadow: 0px 3px 0px 15px #eee;
  box-shadow: 0px 3px 0px 15px #eee;
  display: inline-block;
}
header.interest {
  padding: 0 0 40px;
  background: #eee;
}
header.interest img {
  /*width: 20%;*/
  max-width: 11em;
  margin: 60px 0 40px;
  display: inline-block;
}

/*Form Elements*/


/*Navbar*/
nav {
  text-align: center;
  font-size: 1em;
  /*font-family:*/
}
nav ul {
  display:flex; 
  flex-wrap: nowrap; 
  align-content: center;
}
nav li {
  flex-grow: 1;
  margin-bottom: 0;
  line-height: 2em;
}
a:hover {
  color: #256966;
  transition: color 0.9s ease-out;
}

nav.about {
  font-size: 2em;
  padding-top: 2em;
}
nav.about li {
  line-height: 1em;
}
nav.about li:nth-of-type(n+2) {
  border-left: 1px solid #696758;
}

nav.interest {
  font-size: 1.3em;
  line-height: 1.5em;
  border-bottom: 1px solid #333;
}
nav ul.interest {
  margin: 0;
}

/*Other specific elements*/


/*Footer*/