{% extends "base.html" %}

{% block title %}<title>500 Server Error | {{ super() }}</title>{% endblock %}

{% block header %}
<body class="contact">
    <header class="error">
        <div class="container"> 
            <div class="row">
                <nav class="page twelve columns">
                    <ul class="page">
                        <li><a href="{{ url_for('index') }}" class ="page">About</a></li>
                    {% for page in pages %}
                        <li><a href="{{ url_for('page', name=page.name) }}" class ="page">{{ page.name }}</a></li>
                    {% endfor %}
                        <li><a href="{{ url_for('contact') }}" class ="page">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                    <div class="ten offset-by-one columns">
                        <img src="{{ url_for('static', filename='img/500.jpg') }}" />
                    </div>
            </div>
            <div class="row">
                    <h2>500</h2>
                    <h4>We are having difficulties in our server room. Please try your request again or come back later.</h4>
            </div>
        </div>
    </header>
</body>
{% endblock %}
