<!DOCTYPE html>
<html>
<head>
	<title>Moon Flask</title>
	<link rel="stylesheet" href="../static/css/normalize.min.css">
    <link rel="stylesheet" href="../static/css/skeleton.css">
    <link rel="stylesheet" href="../static/css/main.css">
	<!-- Import fonts -->
	<link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Asul' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
</head>
<body>
{% block header %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>