{% extends "base.html" %}

{% block header %}
	<div class="container">
		<div class="preheader row">
			<a href="#"><img class="profile-picture" src="{{ url_for('static', filename='img/{}.jpg'.format(user[1]['name']).replace(' ','')) }}" /></a>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="row">
				<h1>{{ user[1]['name'] }}</h1>
				<h3>Moon Flask is a simple content management system built on Flask. You can use it to build a portfolio or personal website. Gentile Bellini serves as the user for the sample app. Take a look at his interests below.</h3>
			</div>
		</div>
	</header>

	</div>
{% endblock %}

{% block content %}
<div class="container">
	<section class="row">
		<nav class="about">
			<ul>
			{% for interest in interests %}
				<li><a href="{{ url_for('interest', area=interests[interest]['area']) }}" class ="about">{{ interests[interest]['area'] }}</a></li>
			{% endfor %}
			</ul>
		</nav>
	</section>
</div>
{% endblock %}