{% extends "base.html" %}

{% block header %}
	<div class="container">
		<div class="preheader row">
			<a href="#"><img class="profile-picture" src="{{ url_for('static', filename='img/{}.png'.format(user[1]['name'])) }}" /></a>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="row">
				<h1>{{ user[1]['name'] }}</h1>
			</div>
		</div>
	</header>

	</div>
{% endblock %}

{% block content %}
	{% for interest in interests %}
		<h2>{{ interests[interest]['area'] }}</h2><br />
		<p>{{ interests[interest]['about'] }}</p>
	{% endfor %}
{% endblock %}