{% extends "base.html" %}

{% block header %}
	<div class="container">
		<div class="preheader row">
			<a href="#"><img class="profile-picture" src="{{ url_for('static', filename='img/{}.jpg'.format(user.username).replace(' ','')) }}" /></a>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="row">
				<h1>{{ user.username }}</h1>
				<h3>{{ user.about }}</h3>
			</div>
		</div>
	</header>

	</div>
{% endblock %}

{% block content %}
<div class="container">
	<section class="row">
		<nav class="about">
			<ul>
			{% for page in pages %}
				<li><a href="{{ url_for('page', name=page.name) }}" class="about">{{ page.name }}</a></li>
			{% endfor %}
			</ul>
		</nav>
	</section>
</div>
{% endblock %}