{% extends "base.html" %}

{% block header %}
	<header class="interest">
		<div class="container">	
			<div class="row">
				<nav class="interest twelve columns">
					<ul class="interest">
						<li><a href="{{ url_for('index') }}" class ="interest">About</a></li>
					{% for interest in interests %}
						<li><a href="{{ url_for('interest', area=interests[interest]['area']) }}" class ="interest">{{ interests[interest]['area'] }}</a></li>
					{% endfor %}
					</ul>
				</nav>
			</div>
			<div class="row">
				<img src="{{ url_for('static', filename='img/{}.jpg'.format(area)) }}" />
			</div>
			<div class="row">
				<h2>{{ area }}</h2>
				<h4>Interest text for this area will go here once the database is implemented.</h4>
			</div>
		</div>
	</header>
{% endblock %}

{% block content %}
<!-- Add if to check area, and test images. Maybe add border bottom for sections? -->
<section class="posts">
	<div class="container">
		{% for post in posts %}
			<div class="row">
				<h3>{{ posts[post]['title'] }}</h3>
			</div>
			<div class="row boxy">
				<p>{{ posts[post]['text'] }}</p>
			</div>
		{% endfor %}
	</div>
</section>
{% endblock %}
