{% extends "base.html" %}

{% block header %}
	<header class="interest">
		<div class="container">	
			<div class="row">
				<nav class="interest twelve columns">
					<ul class="interest">
						<li><a href="{{ url_for('index') }}" class ="interest" style="color: {{ user[1]['color'] }};">About</a></li>
					{% for interest in interests %}
						<li><a href="{{ url_for('interest', area=interests[interest]['area']) }}" class ="interest" style="color: {{ interests[interest]['color'] }};">{{ interests[interest]['area'] }}</a></li>
					{% endfor %}
					</ul>
				</nav>
			</div>
			<div class="row">
				<img src="{{ url_for('static', filename='img/{}.jpg'.format(area)) }}" />
			</div>
			<div class="row">
				<h2>{{ area }}</h2>
				<h4>Interest text for this area will go here once the database is implemented.</h4>
			</div>
		</div>
	</header>
{% endblock %}

{% block content %}
	{% for interest in interests %}
		<h2>{{ interests[interest]['area'] }}</h2><br />
		<img src="{{ url_for('static', filename='img/{}.png'.format(interests[interest]['area'])) }}" />
		<p>{{ interests[interest]['about'] }}</p>
	{% endfor %}
{% endblock %}
