{% extends "base.html" %}

{% block header %}
	<header class="interest">
		<div class="container">	
			<div class="row">
				<nav class="interest twelve columns">
					<ul class="interest">
						<li><a href="{{ url_for('index') }}" class ="interest">About</a></li>
					{% for interest in interests %}
						<li><a href="{{ url_for('page', name=interests[interest]['area']) }}" class ="interest">{{ interests[interest]['area'] }}</a></li>
					{% endfor %}
					</ul>
				</nav>
			</div>
			{% for interest in interests %}
				{% if interests[interest]['area'] == name %}
					{% if interests[interest]['image'] %}
					<div class="row">
						<img src="{{ url_for('static', filename='img/{}.jpg'.format(name).replace(' ','')) }}" />
					</div>
					{% endif %}
				<div class="row">
					<h2>{{ interests[interest]['area'] }}</h2>
					<h4>{{ interests[interest]['about'] }}</h4>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</header>
{% endblock %}

{% block content %}
<!-- Add if to check area, and test images. Maybe add border bottom for sections? -->
<section class="posts">
	<div class="container">
		{% for post in posts %}
			{% if posts[post]['FK_InterestId'] == name %}
			<div class="row">
				<h3>{{ posts[post]['title'] }}</h3>
			</div>
			<div class="row boxy">
				<p>{{ posts[post]['text'] }}</p>
			</div>
				{% if posts[post]['image'] %}
				<div class="row">
					<img src="{{ url_for('static', filename='img/{}.jpg'.format(posts[post]['title']).replace(' ','')) }}" />
				</div>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</section>
{% endblock %}
